body{
    color: white;
    font-family: serif;
    margin: 0 0 0 0;
    background-color: #dadae6;
}

#title {
    color: rgb(255, 255, 255);
    background-color: #a7a6b4;
    margin: 0 0 2px 0;
    padding-bottom: 10px;
    padding-top: 1px;
}

#title h1 {
    text-align: center;
}

header {
    background-color: #E8E8E8;
    padding: 10px;
    margin: 0 0 0 0;
    box-shadow: 0px 3px 1px rgb(155, 155, 189);
    text-align: center;
}

nav > a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    
}

h1 {
    transition: 0.3s;
}


p {
    display: none;
    text-align: center;
    margin: auto;
}

div#windows:hover {
  padding-bottom: 40px;
}

div#macOS:hover {
    padding-bottom: 40px;
}

div#linux:hover {
    padding-bottom: 40px;
}

div:hover p {
  display: inline;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div#windows:hover h1 {
  margin-bottom: 80px;
}

div#macOS:hover h1 {
    margin-bottom: 80px;
}

div#linux:hover h1 {
    margin-bottom: 80px;
}
div#windows{
    background-color: rgb(0, 132, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 150px 30vw 5px 30vw;
    align-items: center;
    display: flex;
    position: relative;
    transition: all 0.3s;
}

div#windows h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div#windows > img {
    width: 100px;
    margin: 20px 0 20px 20px;
    display: flex;
}

div#macOS {
    background-color: rgb(133, 170, 250);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 30vw 5px 30vw;
    align-items: center;
    position: relative;
    display: flex;
    transition: all 0.5s;
}

div#macOS > img {
    width: 100px;
    margin: 20px 0 20px 20px;
    display: flex;
}

div#macOS > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div#linux {
    background-color: rgb(47, 48, 54);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin: 5px 30vw 5px 30vw;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}

div#linux > img {
    width: 100px;
    margin: 20px 0 20px 20px;
}

div#linux > h1 {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}