body{
    color: white;
    font-family: serif;
    margin: 0 0 0 0;
    background-color: #dadae6;
}

#title {
    color: rgb(255, 255, 255);
    background-color: #a7a6b4;
    margin: 0 0 2px 0;
    padding-bottom: 10px;
    padding-top: 1px;
}

#title h1 {
    text-align: center;
    font-size: 50px;
}

header {
    background-color: #E8E8E8;
    padding: 10px;
    margin: 0 0 0 0;
    box-shadow: 0px 3px 1px rgb(155, 155, 189);
    text-align: center;
}

nav > a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    
}

main {
    justify-content: space-between;
    display: flex;
}
.borda {
    background-color: rgb(155, 155, 189);
    margin: 60px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
}

p.p-borda {
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: bold;
}
div#windows{
    background-color: rgb(0, 132, 255);
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

div#windows h1{
    text-align: center;
}

div#windows p {
}

div#windows > img {
    width: 150px;
    margin: auto;
    display: flex;
}

div#macOS {
    background-color: rgb(133, 170, 250);
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

div#macOS > img {
    width: 150px;
    margin: auto;
    display: flex;
}

div#macOS > h1 {
    text-align: center;
}

div#linux {
    background-color: rgb(47, 48, 54);
    margin: 10px 10px 10px 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

div#linux > img {
    width: 150px;
    margin: auto;
    display: flex;
}

div#linux > h1 {
    text-align: center;
}